name: Publish Logseq to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build with Logseq Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/data \
            ghcr.io/logseq/publish:latest \
            --output /data/www

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./www
